# {{APP_NAME}}

![Xcode](https://img.shields.io/badge/Xcode-{{XCODE_VERSION}}-blue)
![Swift](https://img.shields.io/badge/Swift-{{SWIFT_VERSION}}-orange)
![iOS](https://img.shields.io/badge/iOS-{{MIN_IOS}}%2B-lightgrey)

{{APP_DESCRIPTION}}

## 요구사항
- Xcode {{XCODE_VERSION}}+
- Swift {{SWIFT_VERSION}}
- iOS {{MIN_IOS}}+

## 기술 스택
| 분류 | 라이브러리 |
|------|-----------|
| UI | {{UI_FRAMEWORK}} |
| 의존성 관리 | {{PACKAGE_MANAGER}} |
| 네트워크 | {{NETWORK_LIBRARY}} |
